.dataTables_wrapper { overflow-x: scroll; }
.shiny-output-error { visibility: hidden; } 
.shiny-output-error:before { visibility: hidden; }
.modal-body{
  margin-left: 10px;
  margin-right:10px;
}
.carousel-indicators li {
  background-color: #DDD;
  background-color: rgba(70,70,70,.25);
}
.carousel-indicators .active {
  background-color: #999;
}
.carousel-indicators {
  bottom: 15px;
  top: auto;
  list-style: none outside none;
  margin: 0;
  position: absolute;
  right: 70px;
  z-index: 5;
}
.carousel-control {
  opacity: 0.2;
  border: none;
  top: -30px;
  margin-top: 100px;
  margin-bottom: 10px;
}
img{
  padding-top:5px;
  padding-bottom:10px;
}

@media screen and (min-width: 770px){
  .sidebar-toggle {
    display: none;
  }
}
#downloadPlots{
  margin-top:-5px;
}
#buttons{
  margin-top:1em;
  margin-bottom:.5em;
  margin-left:1em;
}

#About{
  color:#dd4b39;
  margin-top: -10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(192, 192, 192, .6);
}
.aboutques{font-weight: bold;}

#Guide{
  color:#dd4b39;
  margin-top: -10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(192, 192, 192, .6);
}
a, figure {
    display: inline-block;
}
figcaption {
    margin: 10px 0 0 0;
    font-size: 1.2em;
}
figure {
    padding: 5px;
}
.progress{
  margin-bottom:0px;

}


/*Adding icons to titles in carousels */
.box-header {
  float: left;
  margin-right: 10px;
}

.info-icon {
  float: left;
  clear: right;
}

