.dataTables_wrapper { overflow-x: scroll; }
.shiny-output-error { visibility: hidden; } 
.shiny-output-error:before { visibility: hidden; }
.carousel-indicators li {
  background-color: #DDD;
  background-color: rgba(70,70,70,.25);
}
.carousel-indicators .active {
  background-color: #999;
}
.carousel-indicators {
  bottom: 15px;
  top: auto;
  list-style: none outside none;
  margin: 0;
  position: absolute;
  right: 70px;
  z-index: 5;
}
.carousel-control {
  opacity: 0.2;
  border: none;
  top: -30px;
}
img{
  padding-top:10px;
  padding-bottom:10px;
}

@media screen and (min-width: 1024px){
  .sidebar-toggle {
    display: none;
  }
}
#downloadPlots{
  margin-top:-5px;
}
#buttons{
  float:right;
  margin-top:8px;
  margin-right:5px;
}